body {
	margin:auto; 
	width: 50%;
	padding-top: 20px;
}

.container {
	width: 432px;
	display: grid;
}

.inputs {
	width: 432px;
	text-align: center;
}

.square {
	border: 1px solid black;
}

.square:hover {
	border: 1px solid yellow;
}
